obj/map.txt
obj/libblink.deps
obj/libblink.a
obj/gpsauto.cgpr
obj/crt0.s.stdout
obj/crt0.s.stderr
obj/crt0.o
obj/crt0.d
obj/blink.o
obj/blink.bin
obj/blink.bexch
obj/blink.ali
obj/blink.adb.stdout
obj/blink.adb.stderr
obj/blink-loc.xml
obj/blink
obj/b__blink.o
obj/b__blink.ali
obj/b__blink.ads
obj/b__blink.adb
